<div class="container p-4 w-full mx-auto">
  <div class="flex items-center border-b border-blue-500 py-2">
    <!-- on input change call searchCustomer() -->
    <input
      class="bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="text"
      placeholder="Search by name or phone number..."
      aria-label="Search customers"
      [(ngModel)]="searchText"
      (keyup)="searchCustomers()"
    />

    <button
      class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
      type="button"
    >
      Advaned Search
    </button>
  </div>
</div>
