<div class="container mx-auto px-4 py-2 h-full">
  <div class="flex justify-between items-center h-[75px]">
    <div class="text-2xl font-bold">Customers List</div>

    <div class="flex justify-end items-center gap-4 h-full">
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        (click)="addCustomer()"
      >
        Add Customer
      </button>
    </div>
  </div>

  <div
    class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative"
  >
    <table
      class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative"
    >
      <thead>
        <tr class="text-left">
          <th class="py-2 px-3 cursor-pointer" (click)="sort('id')">
            <div class="flex justify-start items-center gap-2">
              ID
              <app-sort-icon
                [sortBy]="sortBy === 'id'"
                [sortOrder]="sortOrder"
              ></app-sort-icon>
            </div>
          </th>
          <th class="py-2 px-3 cursor-pointer" (click)="sort('name')">
            <div class="flex justify-start items-center gap-2">
              Name

              <app-sort-icon
                [sortBy]="sortBy === 'name'"
                [sortOrder]="sortOrder"
              ></app-sort-icon>
            </div>
          </th>
          <th class="py-2 px-3 cursor-pointer" (click)="sort('age')">
            <div class="flex justify-start items-center gap-2">
              Age

              <app-sort-icon
                [sortBy]="sortBy === 'age'"
                [sortOrder]="sortOrder"
              ></app-sort-icon>
            </div>
          </th>
          <th class="py-2 px-3 cursor-pointer" (click)="sort('number')">
            <div class="flex justify-start items-center gap-2">
              Number

              <app-sort-icon
                [sortBy]="sortBy === 'number'"
                [sortOrder]="sortOrder"
              ></app-sort-icon>
            </div>
          </th>
          <th class="py-2 px-3 cursor-pointer" (click)="sort('dateOfBirth')">
            <div class="flex justify-start items-center gap-2">
              DOB

              <app-sort-icon
                [sortBy]="sortBy === 'dateOfBirth'"
                [sortOrder]="sortOrder"
              ></app-sort-icon>
            </div>
          </th>
          <th class="py-2 px-3 cursor-pointer" (click)="sort('gender')">
            <div class="flex justify-start items-center gap-2">
              Gender
              <app-sort-icon
                [sortBy]="sortBy === 'gender'"
                [sortOrder]="sortOrder"
              ></app-sort-icon>
            </div>
          </th>
          <th class="py-2 px-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of dataSource.data" class="hover:bg-gray-100">
          <td class="py-2 px-3">{{ customer.id }}</td>
          <td class="py-2 px-3">{{ customer.name }}</td>
          <td class="py-2 px-3">{{ customer.age }}</td>
          <td class="py-2 px-3">{{ customer.number }}</td>
          <td class="py-2 px-3">{{ customer.dateOfBirth | date }}</td>
          <td class="py-2 px-3">{{ customer.gender }}</td>
          <td class="py-2 px-3">
            <div class="gap-2 flex">
              <button
                class="text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded"
                (click)="updateCustomer(customer.id)"
              >
                Update
              </button>
              <button
                class="text-white bg-red-500 hover:bg-red-600 px-3 py-1 rounded"
                (click)="deleteCustomer(customer.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-center items-center pt-5 w-full">
    <div class="w-[30%] h-[75px] justify-center items-center flex">
      <div class="w-[90%]">
        <label for="itemsPerPage" class="text-center">Items per page</label>
        <select
          id="itemsPerPage"
          class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
          (change)="setItemsPerPage($event)"
        >
          <!-- for loop in itemPerPageOptions and show them here -->
          <option
            *ngFor="let option of itemsPerPageOptions"
            [value]="option"
            [selected]="itemsPerPage == option"
          >
            {{ option }}
          </option>
          <!-- <option value="5" [selected]="itemsPerPage == 5">5</option>
          <option value="10" [selected]="itemsPerPage == 10">10</option>
          <option value="25" [selected]="itemsPerPage == 25">25</option>
          <option value="50" [selected]="itemsPerPage == 50">50</option> -->
        </select>
      </div>
    </div>
    <div class="w-[30%] h-[75px] justify-center items-center flex">
      <div>
        Page {{ currentPage }} of
        {{ dataSource.totalItems / itemsPerPage | ceil }}
      </div>
    </div>
    <div class="w-[40%] h-[75px] justify-end items-center flex gap-2">
      <button
        class="text-white px-4 py-2 rounded"
        (click)="setPage(currentPage - 1)"
        [disabled]="currentPage === 1"
        [ngClass]="{
          ' bg-gray-500': currentPage === 1,
          'hover:bg-blue-600 bg-blue-500': currentPage !== 1
        }"
      >
        Previous
      </button>
      <button
        class="text-white px-4 py-2 rounded hover:bg-blue-600 bg-blue-500"
        (click)="setPage(currentPage + 1)"
        [disabled]="currentPage * itemsPerPage >= dataSource.totalItems"
        [ngClass]="{
          ' bg-gray-500': currentPage * itemsPerPage >= dataSource.totalItems,
          'hover:bg-blue-600 bg-blue-500': !(
            currentPage * itemsPerPage >=
            dataSource.totalItems
          )
        }"
      >
        Next
      </button>
    </div>
  </div>
</div>
